* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.header {
    margin-top: 50px;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-list li {
    border: 1px solid black;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    color: white;
}

.windows {
    background-color: blue;
}

li {
    width: 100x;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubuntu {
    background-color: brown;
}

.redhat {
    background-color: red;
}

.apple {
    background-color: gray;
}

.content {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    width: 300px;
    height: 100px;
}
.redhat-content {
    background-color: red;
    width: 750px;
    height: 250px;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
    color: white;
}

.content p {
    width: 50%;
    margin-left: 10px;
    padding-top: 15px;
}

.content .fa-brands {
    font-size: 60px;
    color: white;
}

.windows-content {
    background-color: blue;
    width: 750px;
    height: 250px;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
    color: white;
}

.ubuntu-content {
    background-color: brown;
    width: 750px;
    height: 250px;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
    color: white;
}

.apple-content {
    background-color: gray;
    width: 750px;
    height: 250px;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
    color: white;
}
@media (max-width: 576px){
   content p{
    width: 900px;
   } 
} 